<!doctype html>
<head>
<title>Staff Returns</title>
<link rel=stylesheet type=text/css href="../static/css/bootstrap.min.css">
<link rel=stylesheet type=text/css href="../static/css/style.css">

<script type="text/javascript" src="../static/js/jquery-1.12.2.js"></script>
<script type="text/javascript" src="../static/js/functions.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% if title == 'project-management' %}
    <script type="text/javascript">

    google.charts.load('current', {packages: ['corechart', 'table']});
    // google.charts.setOnLoadCallback(loadProject());

    function drawPieChart(project) {
      // Define the chart to be drawn.
      project = JSON.parse(project);
      var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
      var date = new Date();
      var month = monthNames[date.getMonth()];
      var year = date.getFullYear();
      var data = new google.visualization.DataTable();
      if (year in project && month in project[year]) {
          data.addColumn('string', 'User');
          data.addColumn('number', 'Hours');
          var total_hours = 0;
          for (var user in project[year][month]) {
              data.addRow([user, parseInt(project[year][month][user])]);
              total_hours += parseInt(project[year][month][user]);
          }
      } else {
          data.addColumn('string', 'User');
          data.addColumn('number', 'Hours');
          data.addRow(['None', 0])
      }
      // Instantiate and draw the chart.
      var chart = new google.visualization.PieChart(document.getElementById('myPieChart'));
      chart.draw(data, null);
    }

    function drawColumnChart(project) {
        project = JSON.parse(project)
        var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var date = new Date();
        var month = monthNames[date.getMonth()];
        var year = date.getFullYear();
        var data_array = [['User', 'Hours']];
        if (year in project && month in project[year]) {
            for (var user in project[year][month]) {
                data_array.push([user, parseInt(project[year][month][user])]);
            }
        }
        var data = google.visualization.arrayToDataTable(data_array);
        var chart = new google.visualization.ColumnChart(document.getElementById('myPieChart'));
        chart.draw(data, null);
    }

    function loadProject() {
      var xhttp = new XMLHttpRequest();
      var chartType =  document.getElementById("chart").value
      var projectName = document.getElementById("project").value
      xhttp.onreadystatechange = function() {
        if (xhttp.readyState == 4 && xhttp.status == 200) {
            switch(chartType) {
                case 'Column' :
                    drawColumnChart(xhttp.responseText);
                    break;
                case 'Pie' :
                    drawPieChart(xhttp.responseText);
                    break;
            }

        }
      };
      xhttp.open("GET", "http://192.168.33.10:8080/load-project/"+projectName, true);
      xhttp.send();
    }

    </script>
{% endif %}

</head>
{% block content %}
<main id="content" role="main">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Staff Returns</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            {% if title == 'home'  %}
                <li class="active"><a href="/">Home</a></li>
            {% else %}
                <li><a href="/">Home</a></li>
            {% endif %}

            {% if title =='settings' %}
                <li class="active"><a href="/settings">Settings</a></li>
            {% else %}
                <li><a href="/settings">Settings</a></li>
            {% endif %}

            {% if 'Admin' in user_roles %}
                {% if title =='project-management' %}
                    <li class="active"><a href="/project-management">Project Management</a></li>
                {% else %}
                    <li><a href="/project-management">Project Management</a></li>
                {% endif %}
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">>
        {% if current_user.is_authenticated() %}
            <li><a href="/settings">{{ current_user.username }}</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
        </ul><!--/.nav-collapse -->
      </div>
    </div>
  </nav>
  {% block body %}{% endblock %}
</main>

{% endblock %}
