{% extends "layout.html" %}
{% block head %}
<script type="text/javascript" src="../static/js/project-functions.js"></script>
{% endblock %}
{% block body %}
<body>
    <div class="container">
        <div class="page-header">
            <h2> Project Management </h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3>Project</h3>
            </div>
            <div class="col-md-3">
                <h3>Month</h3>
            </div>
            <div class="col-md-3">
                <h3>Year</h3>
            </div>
            <div class="col-md-3">
                <h3>Chart type</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="styled-project-select">
                    <select name="project" id="project" onchange="loadProject()">
                        {% for project in projects %}
                            <option name={{ project._id }}> {{ project.name }} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="styled-project-select">
                    <select name="month" id="month" onchange="loadProject()">
                        {% for month in monthNames %}
                            {%  if month == current_month %}
                                <option selected="true" name={{ month }}> {{ month }} </option>
                            {% else %}
                                <option name={{ month }}> {{ month }} </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="styled-project-select">
                    <select name="year" id="year" onchange="loadProject()">
                        <option name="2016">2016</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="styled-project-select">
                    <select name="chart" id="chart" onchange="loadProject()">
                        <option name="Column">Column</option>
                        <option name="Pie">Pie</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="top-buffer"></div>
    <div class="container">
        <div class="hidden-div" id="hidden_div"><h3>No Data Found</h3></div>
        <div id="project_chart"></div>
        <div id="total_hours_div"></div>
        <div id="total_cost_div"></div>
    </div>
    </div>
</body>
{% endblock %}
