{% extends "layout.html" %}
{% block body %}
<body>
    <div class="container">
        <div class="page-header">
            <h2> Register </h2>
        </div>
        <form action="" method="POST" name="form">
            {{ form.hidden_tag() }}
            <div class="col-md-12">
                <div class="top-buffer"></div>
                <div class="row" id="username_row">
                    <div class="col-md-5 form-group">
                        <div class="col-md-6">
                            <label class="control-label" for="username">Username</label>
                        </div>
                        {{ form.username }}
                    </div>
                </div>
                <div class="row" id="name_row">
                    <div class="col-md-5 form-group">
                        <div class="col-md-6">
                            <label class="control-label" for="firstname">First Name</label>
                        </div>
                        {{ form.firstname }}
                    </div>
                    <div class="col-md-5 form-group">
                        <div class="col-md-6">
                            <label class="control-label" for="lastname">Last Name</label>
                        </div>
                        {{ form.lastname }}
                    </div>
                </div>
                <div class="row" id="password_row">
                    <div class="col-md-5 form-group">
                        <div class="col-md-6">
                            <label class="control-label" for="password">Password</label>
                        </div>
                        {{ form.password }}
                    </div>
                    <div class="col-md-5 form-group">
                        <div class="col-md-6">
                            <label class="control-label" for="confirm">Confirm Password</label>
                        </div>
                        {{ form.confirm }}
                    </div>
                </div>
                <div class="row" id="paygrade_row">
                    <div class="col-md-5 form-group">
                        <div class="col-md-6">
                            <label for="paygrade">Pay Grade</label>
                        </div>
                        <div class="styled-project-select-register">
                            {{ form.paygrade }}
                        </div>
                    </div>
                </div> <!--
                <div class="row" id="workingpattern_row">
                    <div class="col-md-8 form-group">
                        <div class="col-md-3">
                            <label for="workingpattern">Working Pattern</label>
                        </div>
                        <div class="input-group">
                            <div class="radio-inline">
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="top-buffer"></div>
                <div class="col-md-4">
                    <h4>Working Hours</h4>
                </div>
                <div class="row" id="workinghours_row">
                    <div class="col-md-12 form-group">
                        <div class="col-md-2">
                            <label for="monday">Monday</label>
                            <input type="text" value=0 name="monday">
                        </div>
                        <div class="col-md-2">
                            <label for="tuesday">Tuesday</label>
                            <input type="text" value=0 name="tuesday">
                        </div>
                        <div class="col-md-2">
                            <label for="wednesday">Wednesday</label>
                            <input type="text" value=0 name="wednesday">
                        </div>
                        <div class="col-md-2">
                            <label for="thursday">Thursday</label>
                            <input type="text" value=0 name="thursday">
                        </div>
                        <div class="col-md-2">
                            <label for="friday">Friday</label>
                            <input type="text" value=0 name="friday">
                        </div>
                    </div>
                </div>
                <div class="top-buffer"></div>
                <div class="col-md-2 col-md-offset-5">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</body>
{% endblock %}
