{% extends "layout.html" %}
{% block body %}
<body>
    <div class="container">
        <div class="page-header">
            <h2> Monthly Hours - {{ month }}, {{ year }} </h2>
        </div>
        <form name= "project_entries_form" id="project_entries_form" method="POST">
            <div class="col-lg-8" id="project_entries_div">
                {% for i in range(1, 16) %}
                    {% if i == 1 %}
                        <div class="row" id="project_row_{{ i }}">
                    {% else %}
                        <div class="row" id="project_row_{{ i }}" style="display: none;">
                    {% endif %}
                        <div class="col-md-4">
                            <div class="styled-project-select">
                                <select name="project_select_{{ i }}" id="project_select_{{ i }}">
                                    <option name="Select">Select a Project</option>
                                    {% for project in projects %}
                                        <option name={{ project._id }}> {{ project.name }}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="top-buffer"></div>
                        </div>
                         <div class="col-md-4">
                             <input name="project_input_{{ i }}" id="project_input_{{ i }}" type="number" min="0" max="500" class="form-control hours-input" placeholder="0" value=value>
                         </div>
                    </div>
                {% endfor %}
                <a onclick="addProjectRow()" class="btn btn-primary">Add Entry</a>
            </div>
        <div class="col-md-4">
            <h3>Hours Logged</h3>
            {% for project in user_projects %}
                <p>{{ project }} - {{ user_projects[project] }}</p>
            {% endfor %}
            <strong>Total hours logged: {{ total_hours }}</strong>
            <div class="top-buffer"></div>
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
        </form>
    </div>
</body>
{% endblock %}
