{% extends "layout.html" %}
{% block body %}
<body>
    <div class="container">
        <div class="page-header">
            <h2> User settings </h2>
        </div>

        <form name= "form" id="role_select_form" method="POST">
            <div class="col-lg-8" id="role_select_div">
                <div class="row" id="role_row_1">
                    <div class="col-md-4">
                        <div class="styled-project-select">
                            <select name="role" id="role">
                                <option name="select">Select your role</option>
                                {% for role in roles %}
                                    <option name={{ role.title }}> {{ role.title }}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="top-buffer"></div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
{% endblock %}
